@import "../../scss/variables", "../../scss/mixins";
.containerr {
  display: flex;
  justify-content: space-around;
  background-color: $cardNavBgColor;

  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    &:hover {
      background-color: $backgroundColor;
      color: $cardNavBgColor;
    }
  }
}

@include media-xsm {
  .containerr {
    flex-direction: column;
    text-align: center;
  }
}

@include media-md {
  .containerr {
    flex-direction: row;
  }
}
